mirrors:
{% for mirror in mirrored_registries %}
  {{ mirror.name }}:
    endpoint:
      - "{{ mirror.endpoint }}"
{% endfor %}
{% if registry_configs is defined -%}
configs:
{% for registry in registry_configs %}
  "{{ registry.url }}":
    auth:
      username: {{ registry.username }}
      password: {{ registry.password }}
{% endfor %}
{% endif %}
